<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>

  </head>
  <% include temps/header.ejs %>
  <body>
  	<p class="btn btn-default">start connecting</p>
  	<div class="container">
	  <div class="jumbotron">
	    <h2>hello <%=name%></h2>
	    <% if(results) { %>
	    	<p><%results.firstname + " " + results.lastname%></p>
	    <%}%>
	    <div > 

			<p>Search Results:</p>
			<h1>{{name}}</h1>
			<!--<p class="btn btn-default">{{results}}</p>-->
			<ul>
			    <li class="btn btn-default" ng-repeat="x in results">
			    <a href= {{"/chat/"+x.username}}>{{x.firstname}}</a>
			    </li>
			</ul>

		</div>

	</div>

	<script>

		const app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			

			$scope.search = ()=> {
				$scope.name;
				const data = {"query": $scope.name};
				$http.post("/search",data)
			    .then(function(response) {
			    	//$scope.PostDataResponse = data;
			    	if(response.data[0].firstname){
			    		//$scope.results = response.data[0].firstname + " " + response.data[0].lastname;
			    		$scope.results = response.data ;
			    	}
			    	else{
			    		$scope.results="";
			    	}
			    });
			}
		    
		});
	</script>
  </body>
  </div>
</html>
