<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title><%= title%></title>

  </head>
  <% include temps/header.ejs %>
  <body>
  	<div class="container">
	  <div class="jumbotron">
	    
	</div>

  </body>
</html>
