
<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>

  </head>
  
  <body>
  	<% include temps/header.ejs %>
  	<div class="container">
	  <div class="jumbotron">
	  	<% if(name) { %>
	    	<h2><%name%></h2>
	    <%}%>
	    <div> 

	    	<div>
	    		<p>Your previous connections</p>
	    		<%for(let x in users){%>
	    			<p><a class="btn btn-default" href=<%="/chat/" + users[x] %>><%=users[x]%></a></p>
	    		<%}%>	
	    	</div>

			<p>Search Results:</p>
			<!--<p class="btn btn-default">{{results}}</p>-->
			<ul>
			    <li style="list-style-type:none" ng-repeat="x in results">
			    <a class="btn btn-default" href= {{"/chat/"+x.username}}>{{"Connect with " + x.firstname + " " + x.lastname}}</a>
			    </li>
			</ul>

		</div>

	</div>

	<script>

		const app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			

			$scope.search = ()=> {
				$scope.name;
				const data = {"query": $scope.name};
				$http.post("/search",data)
			    .then(function(response) {
			    	//$scope.PostDataResponse = data;
			    	if(response.data[0].firstname){
			    		//$scope.results = response.data[0].firstname + " " + response.data[0].lastname;
			    		$scope.results = response.data ;
			    	}
			    	else{
			    		$scope.results="";
			    	}
			    });
			}
		    
		});
	</script>
  </body>
  </div>
</html>
