<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <% include temps/header.ejs %>
  <body> 
    <div>
      <% for(let message in messages){ %>
          <p ><%= messages[message] %></p>
      <% } %>
    </div>
    <div class="container">
    <div class = "jumbotron" id="signin">
        <form method="post" action="/login" class="" >
           <div class="form-group" id="login">
            <p id="login-header">Log in here</p>
            	<input type="text" placeholder = "username" name="username" class="form-control" id="usr" class="form-control" >
            	<br>
            	<input type="password" placeholder = "password" name="password" class="form-control" id="pwd">
                <br>
            	<input type="submit" name="Sign In" class="btn btn-primary active" value="Sign In">
           </div>  
        </form>
    <div>
    </div>
  </body>
</html>
