<!DOCTYPE html>
<html lang="en">
<html> 
	<head> 
		<link rel="stylesheet" href="stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta charset="utf-8">    
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title><%= title %></title>  
	</head> 
	<div ng-app="myApp" ng-controller="myCtrl">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid" >
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><%=title%></a>
	    </div>
	    <ul class="nav navbar-nav" method="POST" action="">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul>
	    <% if(user != "") { %>
		    <form class="navbar-form navbar-left">
			  <div class="input-group">
			    <input type="text" class="form-control" placeholder="Username" name="query" ng-model="name" ng-change="search()">
			    <div class="input-group-btn">
			      <button class="btn btn-default" type="submit">
			        <i class="glyphicon glyphicon-search"></i>
			      </button>
			    </div>
			  </div> 
			</form>
			<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
				  <%=user.username%>
				  <span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <li><a href="/logout">logout</a></li>
				  </ul>
			</div>
		<% } %>
	    <!--<form class="navbar-form navbar-left" method="POST" action="">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Username" name="query" ng-model="name" ng-change="search()">
	      </div>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>-->
	  </div> 

	</nav>


</html>