<!DOCTYPE html>
<html lang="en">
<html> 
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta charset="utf-8">    
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/stylesheets/style.css">
		<title><%= title %></title>  
	</head> 
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"><%=title%></a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Page 1</a></li>
		      <% if(user != "") { %>
			 	<li class="dropdown">
			        <button id="user-id" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><%=user.username%>
			        <span class="caret"></span></button>
			        <ul id="logout" class="dropdown-menu">
			          <li><a href="/logout" >logout</a></li>
			        </ul>
			    </li>
		     <% } %>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    </ul>
		    
		  </div>
		</nav>
	    
	    <!--<form class="navbar-form navbar-left" method="POST" action="">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Username" name="query" ng-model="name" ng-change="search()">
	      </div>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>-->
	  </div> 

	</nav>


</html>