<!DOCTYPE html>
<html>
<head>
<title>Conecta</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="./styles/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
</head>
<body>
<div class="row">
<nav class="my-header">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo logo col push-m5 push-l6"><i class="material-icons logo-icon">cloud</i>Conecta</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
</nav>
    <div>
      <div class="overlay">
          <div class="hide-on-small-only show-on-medium-and-up">
              <ul id="slide-out" class="side-nav fixed">
                <li><a href="#!">Connections</a></li>
                </ul>
          </div>

          <div id="slide-out" class="show-on-small hide-on-med-and-up">
              <ul id="slide-out" class="side-nav fixed">
                <li><a href="#!">Connecns</a></li>
                </ul>
             <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
      </div>
    </div>
    </div>
     <script src="./js/main.js"></script>
  </body>
</html>