<!DOCTYPE html>
<html>
<head>
<title>Conecta</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="./styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
</head>
<body>
<div class="row">
<nav class="my-header">
    <div class="nav-wrapper">
      <div class="show-on-medium-and-up hide-on-large-only">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
      <a href="#!" class="brand-logo logo col push-m5 push-l6"><i class="material-icons logo-icon">cloud</i>Conecta</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
</nav>
    <div>
      <div class="overlay">
          <div class="">
              <ul id="slide-out" class="side-nav" data-collapsible="accordion">
                  <li><div class="user-view">
                      <div class="background">
                        <img src="images/office.jpg">
                      </div>
                      <a href="#!user"><i class="large material-icons">face</i></a>
                      <a href="#!name"><span class="name">John Doe</span></a>
                      <a href="#!email"><span class="email">jdandturk@gmail.com</span></a>
                    </div>
                  </li>
                    <li><a href="#!">Edit profile</a></li>
                    <li><div class="divider"></div></li>
                  <ul class="collapsible" data-collapsible="accordion">
                      <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Connections</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                      </li>
                    </ul>
                </ul>   
          </div>

          <div class="col l4">
              <ul id="slide-out" class="side-nav fixed">
                  <li><div class="user-view">
                      <div class="background">
                        <img src="images/office.jpg">
                      </div>
                      <a href="#!user"><i class="large material-icons">face</i></a>
                      <a href="#!name"><span class="name">John Doe</span></a>
                      <a href="#!email"><span class="email">jdandturk@gmail.com</span></a>
                    </div>
                  </li>
                    <li><a href="#!">Edit profile</a></li>
                    <li><div class="divider"></div></li>
                  <ul class="collapsible" data-collapsible="accordion">
                      <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Connections</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                      </li>
                    </ul>
              </ul>
          </div>

          <div class="messages col s12 m10 l8 pull-l1 push-m1 push-s1">
              <ul class="collection">
                  <li class="collection-item avatar sender-message col s10 m8 l9">
                    <i class="material-icons circle green">account_circle</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                  <li class="collection-item avatar receiver-message col s10 m8 l9">
                    <i class="material-icons circle red">account_circle</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                  <li class="collection-item avatar sender-message col s10 m8 l9">
                    <i class="material-icons circle green">account_circle</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                  <li class="collection-item avatar receiver-message col s10 m8 l9">
                    <i class="material-icons circle red">account_circle</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                       Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                </ul>
                         
          </div>
          <form class="col s12 m12 pull-m3 message-input">
              <div class="row">
                <div class="input-field col s6 l5 push-l3">
                  <input placeholder="Enter message" id="message" type="text" class="validate">
                  <label for="">Message</label>
                </div>
              </div>
          </form>
         
      </div>
    </div>
    </div>
     <script src="./js/main.js"></script>
  </body>
</html>